.panel.panel-default.admin_competence_group{class: !group.visible && "competence_invisible", data: {group: {id: group.id, position: group.position, visible: group.visible.to_s, deleted: group.deleted.to_s}}, style: "background-color: #{group.color.first}"}
  .panel-body
    = content_tag(:strong, [group.position].pack("U") + ". ")
    = text_field_tag "group_name", group.name, class: "form-control competence_input", disabled: !group.visible
    = select_tag "group_color", options_for_select(Color.option_for_select, group.color_id), class: "form-control competence_input", disabled: !group.visible
    %button.btn.btn-default.pull-right.group_competence_delete{disabled: !group.visible} Удалить
    %button.btn.btn-default.pull-right.group_competence_hide{style: "margin-right: 10px#{group.visible ? "" : "; display: none"}"} Скрыть
    %button.btn.btn-default.pull-right.group_competence_show{style: "margin-right: 10px#{group.visible ? "; display: none" : ""}"} Показать